
/* Made by Carlie for Carlie <3 */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body{
    font-family: 'Montserrat', sans-serif;
  }

  a { 
    color: inherit; 
} 


  nav{
    background: #FFF;
    height: 80px;
    width: 100%;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  label.logo{
    color: #0E4B50;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #0E4B50;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #09B584;
    transition: .5s;
    border-radius: 50%;
  }

  a.sticky,a:hover{
    color: #09b584;
    background: #0E4B50;
    transition: .5s;
    border-radius: 50%;
  }

  .checkbtn{
    font-size: 30px;
    color: #0E4B50;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
  
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #FFF;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #09b584;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }


  /* End of Nav */
.anchor {
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

  /* About Me */
.intro {
    padding-top: 40px;
    margin: 60px auto;
    width: 60%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-column-gap: 20px;
  }

  .me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thatsMe {
    max-height: 70%;
    width: auto;
}


h1 {
    font-size: 18px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.linkedIn {
  color: #F87060;
  text-decoration: underline;
  margin: 0 10px;
}

@media all and (max-width: 858px) {
  nav {
    width: 100%;
  }
  div.intro {
    width: 100%;
  }
  h1 {
    font-size: 14px;
  }
  .thatsMe {
    max-height: 40%;
  } 
}
  

  /* works container */
.work-section {
    background: #F1F1F1;
    padding-bottom: 20px;
}

.worksTitle {
    color: #0E4B50;
    font-size: 50px;
    line-height: 80px;
    padding-top: 8px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

@media (max-width: 600px) {
  .worksTitle {
    font-size: 30px;
  }
}

.processContainer {
    margin: 0 auto;
    width: 70%;
}

.process {
    width: 100%;
}

  .container {
      padding-top: 20px;
      padding-bottom: 30px;
      margin: 20px auto;
      max-width: 768px;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: auto auto auto auto;
      grid-row-gap: 20px;
      grid-column-gap: 0px;
  }
  .box1 {
    padding-right: 0;
    border-radius: 10px 0px 0px 10px;
    color: #323232;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    height: 330px;
    box-shadow: 10px 10px 5px grey;
    max-width: 384px;
    align-self: flex-end;
  }

  .box {
    background-color: #FFF;
    height: 330px;
    padding: 5% 5%;
    border-radius: 0px 10px 10px 0px;
    color: #323232;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 30px;
    width: 384px;
    box-shadow: 10px 10px 5px grey;

  }

  .worksPic {
      max-height: 100%;
      max-width: 100%;
      border-radius: 10px 0px 0px 10px;
  }

  #ksirWorksPic {
    height: 75%;
    margin-top: 10%;
  }

  .role {
    font-size: 18px;
  }

  .StudyTitle {
    font-size: 45px;
  }

  .dscript {
    font-size: 20px;
  }

  .job {
    font-size: 24px;
  }


  .button {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 175px;
      background: #09b584;
      border: 1.5px solid rgba(14, 75, 80, 1);
      color: #FFF;
      text-align: center;
      font-size: 16px;
      box-shadow: 0 3px 2 rgba(14, 75, 80, 3);
      border-radius: 5%;
      cursor: pointer !important;
  }

  @media all and (max-width: 600px){
    .StudyTitle {
      font-size: 35px;
    }
  }

  @media (max-width: 400px){
    .box1 {
      width: 0px;
    }
    .worksPic {
      width: 0px;
    }
  }


/* End of Work */


/* Contact */

.contact-section {
  background-color: #FFF;
  padding-bottom: 20px;
}

.contactContainer {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  justify-content: center;
  align-content: center;
  margin: 5px auto;
  grid-column-gap: 0px;
}

.contactBox {
  background-color: #0E4B50;
  padding: 20px 20px;
  height: 380px;
  border-radius: 10px 0px 0px 10px;
  color: #FFF;
}

.board {
  padding-left: 0px;
  height: 380px;
  border-radius: 0px 10px 10px 0px;
}

/* Case Study */

.CaseStudy-Section {
  background: #DDD;
}

.CaseStudyTitle {
  padding-top: 40px;
  margin: 40px auto;
}

.CaseStudy {
  max-height: 600px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
}


.CaseStudyIntro {
  max-height:  600px;
  background: #FFF;
  padding: 10% 10%;
}

.bum {
  height: 600px;
  background: #FFF;
  display: flex;
}

.BATitlePic {
  max-height: 600px;
  width:100%;
  align-self: center;
  justify-content: center;
}

.BATitlePic2 {
  max-height: 600px;
  width:70%;
  align-self: center;
  align-content: center;
  margin-left: 15%;
}

.processContainer2 {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  display: flex;
  justify-content: center;
}

.process2 {
  width: 60%;
  margin: 0 auto;
}

/* Empathize */

.steps {
  width: 80%;
  background: #FFF;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
}

.empathizePic {
  margin-left: 1%;
  width: 100%;
}

.step1 {
  color: #2c3e50;
  padding: 0 10%;
  font-size: 20px;
}

.first {
  font-size: 24px;
}

.second {
  font-size: 18px;
}

.third {
  font-size: 16px;
}

.once {
  font-family: 'Dancing Script', cursive;
  color: #2c3e50;
  padding: 0 10%;
  font-size: 35px;
  font-weight: bold;
}

.interviews1 {
  width: 90%;
  border: solid 1px #DDD;
  border-radius: 1%;
}

.interviews2 {
  justify-content: center;
  width: 48%;
  border: solid 1px #DDD;
  border-radius: 1%;
}

.interviews {
  justify-content: center;
  width: 70%;
  border: solid 1px #DDD;
  border-radius: 1%;
}

.interviews3 {
  justify-content: center;
  width: 20%;
  border: solid 1px #DDD;
  border-radius: 1%;
}

.backButton {
  width: 80%;
  background: #FFF;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
  justify-content: center;
}

#ksirlink {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 600px) {
  .first {
    font-size: 20px;
  }
  .second {
    font-size: 16px;
  }
  .third {
    font-size: 0px;
  }
  .processContainer2 {
    width: 100%;
  }
  .process2 {
    max-height: 100px;
  }
  .CaseStudy {
    width: 100%;
    max-height: 400px;
  }
  .steps {
    width: 100%;
  }
  .backButton {
    width: 100%;
  }
  .CaseStudyIntro {
    max-height: 400px;
  }
  .bum {
    max-height: 400px;
  }
}
